extends ../layout

block content
  .container
    .row.sidebar-details
      nav.col-md-3.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column.mt-4
            li.nav-item.py-1
              a.nav-link.active(href='/employees')
                |                 Search: Employee
            li.nav-item
              a.nav-link.active(href='/departments')
                |                 Search: Department
      main.col-md-9.ml-sm-auto.px-4(role='main')
        .chartjs-size-monitor(style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: visible;visibility: visible; z-index: -1;')
          .chartjs-size-monitor-expand(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:visible;visibility:visible;')
        .justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3
        h2
          | EMPLOYEE PROFILE
        .row.float-right
          a.btn.btn-outline-secondary.mt-3.md-5.mr-3(role='button' href="/employees") Back to List
        br
        table.table.mt-5
          thead
            tr
              th.table-employee-attr Attribute
              th Value
          tbody
            tr
              td EMP NUM
              td= employee.employee_number
            tr
              td NAME
              td= employee.name
            tr
              td RRN
              td= employee.RRN
            tr
              td GENDER
              td= employee.gender
            tr
              td DEPARTMENT
              td= employee.dept_name
            tr
              td FINAL EDUCATION
              td= employee.final_education
            tr
              td EMAIL
              td= employee.email
            tr
              td PHONE Number
              td= employee.phone_number

        br
        h5.mt-2.mb-2 SKILL
        table.table 
          thead
            tr
              th(scope="col") NAME
              th(scope="col") LEVEL
          tbody
            each skill in skills
              tr
                td= skill.skill_name
                td= skill.skill_rank     
            
        br
        h5.mt-2.mb-2 CAREER
        table.table 
          thead
            tr
              th(scope="col") CAREER
              th(scope="col") START DATE
              th(scope="col") END DATE
          tbody
            each career in careers
              tr
                td= career.career
                td= moment(career.period_start).format('YYYY-MM-DD')
                td= moment(career.period_end).format('YYYY-MM-DD')

        br
        h5.mt-2.mb-2 COMPLETED ASSIGNMENTS
        table.table 
          thead
            tr
              th(scope="col") null
              th(scope="col", colspan=2) PJT
              th(scope="col", colspan=2) PEER
              th(scope="col", colspan=2) PM
            tr
              th(scope="col") PROJECT NAME
              th(scope="col") PERFORM AVG
              th(scope="col") COM AVG
              th(scope="col") PERFORM AVG
              th(scope="col") COM AVG
              th(scope="col") PERFORM AVG
              th(scope="col") COM AVG
          tbody
            each project in projects
              tr
                td= project.project_name
                td= project.client_performance_score
                td= project.client_communication_score
                td= project.peer_performance_score
                td= project.peer_communication_score
                td= project.pm_performance_score
                td= project.pm_communication_score
