extends ../layout

block content
  .container
    .row.sidebar-details
      nav.col-md-3.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column.mt-4
            li.nav-item.py-1
              a.nav-link.active(href='/employees')
                |                 Search: Employee
            li.nav-item
              a.nav-link.active(href='/departments')
                |                 Search: Department
            if (currentUser.dept_id == 801001)
              li.nav-item
                a.nav-link.active(href='/evaluations/list')
                  |                 Evaluation List
      main.col-md-9.ml-sm-auto.px-4(role='main')
        .chartjs-size-monitor(style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: visible;visibility: visible; z-index: -1;')
          .chartjs-size-monitor-expand(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:visible;visibility:visible;')
        .justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3
        h2
          | EMPLOYEE EVALUATIONS
        br
        table.table.mt-5#evaluationTable
          thead
            tr
              th.text-center(rowspan="2") EMP NUM
              th.text-center(colspan="3") Peer evaluation
              th.text-center(colspan="3") PM evaluation
              th.text-center(colspan="3") Client evaluation
              th.text-center(rowspan="2") Total Score
            tr
              th.text-center(scope="col") Performance (Peer)
              th.text-center(scope="col") Communication (Peer)
              th.text-center(scope="col") Total Score
              th.text-center(scope="col") Performance (PM)
              th.text-center(scope="col") Communication (PM)
              th.text-center(scope="col") Total Score
              th.text-center(scope="col") Performance (Client)
              th.text-center(scope="col") Communication (Client) 
              th.text-center(scope="col") Total Score           
          tbody
            each evaluation in evaluations
              - var count = 0; 
              if evaluation.peer1
                - count++
              if evaluation.peer2
                - count++
              if evaluation.pm1
                - count++
              if evaluation.pm2
                - count++
              if evaluation.client1
                - count++
              if evaluation.client2
                - count++
              tr
                th(scope="row")
                  a(href=`/employees/${evaluation.employee_number}`)= evaluation.employee_number
                td= (evaluation.peer1)? parseFloat(evaluation.peer1).toFixed(2) : ""
                td= (evaluation.peer2)? parseFloat(evaluation.peer2).toFixed(2) : ""
                td= (evaluation.peer1)? ((parseFloat(evaluation.peer1) + parseFloat(evaluation.peer2)/2)).toFixed(2) : ""
                td= (evaluation.pm1)? parseFloat(evaluation.pm1).toFixed(2) : ""
                td= (evaluation.pm2)? parseFloat(evaluation.pm2).toFixed(2) : ""
                td= (evaluation.pm1)? ((parseFloat(evaluation.pm1) + parseFloat(evaluation.pm2)/2)).toFixed(2) : ""
                td= (evaluation.client1)? parseFloat(evaluation.client1).toFixed(2) : ""
                td= (evaluation.client2)? parseFloat(evaluation.client2).toFixed(2) : ""
                td= (evaluation.client1)? ((parseFloat(evaluation.client1) + parseFloat(evaluation.client2))/2).toFixed(2) : ""
                td= (((parseFloat(evaluation.peer1) || 0) + (parseFloat(evaluation.peer2) || 0) + (parseFloat(evaluation.pm1) || null) + (parseFloat(evaluation.pm2) || 0) + (parseFloat(evaluation.client1) || 0) + (parseFloat(evaluation.client2)) || 0) / count).toFixed(2)
      
          script.
            $(document).ready(function() {
                $('#evaluationTable').dataTable({
                  "pageLength": 10,
                  "columns": [
                    null,
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false},
                    {"searchable": false}
                  ]
                });
            });