extends ../layout

block content
  .container
    .row.sidebar-details
      nav.col-md-3.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column.mt-4
            li.nav-item.py-1
              a.nav-link.active(href='/employees')
                |                 Search: Employee
            li.nav-item
              a.nav-link.active(href='/departments')
                |                 Search: Department
            li.nav-item
              a.nav-link.active(href='/evaluations/list')
                |                 Evaluation List
            li.nav-item
              a.nav-link.active(href='/admin')
                |                 Add employee  
      main.col-md-9.ml-sm-auto.px-4(role='main')
        .chartjs-size-monitor(style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: visible;visibility: visible; z-index: -1;')
          .chartjs-size-monitor-expand(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:visible;visibility:visible;')
        .justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3
        h2= department.dept_name
        .row.float-right.mb-2
          a.btn.btn-outline-secondary.mt-3.md-5.mr-3(role='button' href="/departments") Back to List
        table.table
            thead
                tr  
                    th(scope="col") Department Number
                    th(scope="col") Department Name
            tbody
                tr
                    th(scope="row")= department.dept_id
                    td= department.dept_name
        h5.mt-5 Department Manager
        table.table
            thead
                tr  
                    th(scope="col") Employee Number
                    th(scope="col") Name
                    th(scope="col") Email
                    th(scope="col") Phone Number
            tbody
                tr
                    td(scope="row")= department.dept_manager
                    td= department.name
                    td= department.email
                    td= department.phone_number
        br
        table.table.mt-5#empTable
            thead
              tr
                th(scope='col') Employee Number
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Phone Number
            tbody
              each employee in employees
                tr
                  if (currentUser.dept_id == 801001)
                    td
                      a(href=`/departments/${department.dept_id}/${employee.employee_number}`)= employee.employee_number
                  else
                    td= employee.employee_number
                  td= employee.name
                  td= employee.email
                  td= employee.phone_number

        script.
            $(document).ready(function() {
                 $('#empTable').dataTable({
                "searching": false,
                "columns": [
                    null,
                    null,
                    { 'orderable': false },
                    { 'orderable': false },
                ]});
            });