extends ../layout

block content
    .container
        .row.sidebar-details
            nav.col-md-3.d-none.d-md-block.bg-light.sidebar
                .sidebar-sticky
                ul.nav.flex-column.mt-4
                    li.nav-item.py-1
                    a.nav-link.active(href='/projects')
                        |                 Search: Project
                    li.nav-item
                    a.nav-link.active(href='/pm')
                        |                 PM page
                    li.nav-item
                    a.nav-link.active(href='/evaluations/client')
                        |                 Client evalutions 
            main.col-md-9.ml-sm-auto.px-4(role='main')
                h2 Participating Projects
                table.table.mt-5
                    thead
                        tr
                            th ID
                            th Name
                            th Start Date
                            th End Date
                            th Client
                    tbody
                        each project in projects 
                            tr
                                th(scope='row')
                                    a(href=`pm/${project.project_id}`)= project.project_id
                                td= project.project_name
                                td= moment(project.start_date).format('YYYY-MM-DD')
                                td= (project.end_date)? moment(project.end_date).format('YYYY-MM-DD'):'미정'
                                td= project.client_name

