extends ../layout

block content
  .container
    .row.sidebar-details
      nav.col-md-3.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column.mt-4
            li.nav-item.py-1
              a.nav-link.active(href='/projects')
                |                 Search: Projects
            li.nav-item
              a.nav-link.active(href='/pm')
                |                 PM page
            li.nav-item
              a.nav-link.active(href='/pm/client_evaluations')
                  |                 Client evalutions
            li.nav-item
              a.nav-link.active(href='/admin/project_new')
                  |                 Admin          
      main.col-md-9.ml-sm-auto.px-4(role='main')
        .chartjs-size-monitor(style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: visible;visibility: visible; z-index: -1;')
          .chartjs-size-monitor-expand(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:visible;visibility:visible;')
        .justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3
        h2
          | Project Details
        .row.float-right
          a.btn.btn-outline-secondary.mt-3.md-5.mr-3(role='button' href="/projects") Back to List
        br
        table.table.mt-5
          thead
            tr
              th.table-employee-attr Attribute
              th Value
          tbody
            tr
              td Project ID
              td= project.project_id
            tr
              td Project Name
              td= project.project_name
            tr
              td Project Manager
              td= project.name
            tr
              td PM Phone Number
              td= project.phone_number
            tr
              td Start Date
              td= moment(project.start_date).format('YYYY-MM-DD')
            tr
              td End Date
              td= (project.end_date)? moment(project.end_date).format('YYYY-MM-DD') : '미정'
            tr
              td Client ID
              td= project.client_id
            tr
              td Client Name
              td= project.client_name
            tr
              td Order id
              td= project.order_id
            tr
              td Order details
              td= project.order_details      

        h2.mt-5 Project Members
        table.table.mt-3
          thead
            tr
              th ID
              th Name
              th Department
              th Current Role
              th Start Date
              th End Date
          tbody
            each participant in participants
              tr
                td= participant.employee_number
                td= participant.name
                td= participant.dept_name
                td= participant.role
                td= moment(participant.start_date).format('YYYY-MM-DD')
                td= moment(participant.end_date).format('YYYY-MM-DD')