extends ../layout

block content
  .container
    .row.sidebar
      nav.col-md-3.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column.mt-4
            if (currentUser.manager || currentUser.dept_id == 801001)
              li.nav-item.py-1
                a.nav-link.active(href='/projects')
                  |                 Search: Project
            li.nav-item
              a.nav-link.active(href='/pm')
                |                 PM page
            if (currentUser.dept_id == 801001)
              li.nav-item
                a.nav-link.active(href='/evaluations/client')
                  |                 Client evalutions    
      main.col-md-9.ml-sm-auto.px-4(role='main')
        .chartjs-size-monitor(style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: visible;visibility: visible; z-index: -1;')
          .chartjs-size-monitor-expand(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:visible;visibility:visible;')
        .justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h2.mt-3.mb-3 Search Projects
        .row.mt-5
          form.form-inline.col-sm-12(action='/projects', method='GET')
            span.col-sm-5
              label.mr-3.mb-3 Start Date 
              .input-group
                input#userdate(type='date', class="btn btn-outline-secondary", name='start_date', value=start_date)    
            span.col-sm-5
              label.mr-3.mb-3 End Date 
              .input-group
                input#userdate(type='date', class="btn btn-outline-secondary", name='end_date', value=end_date)
            span.col-sm-2
              label.mt-4.mr-3.mb-3 View Result
              .input-group
                button.btn.btn-primary.btn-block(type='submit') Search
          .mb-3
          form.form-inline.col-sm-12.mb-3(action='/projects', method='GET')
            span.col-sm-5
              label.mr-3.mb-3 Name
              .input-group
                input#userdate.form-control(type='text', name='name', value=name)
            span.col-sm-2
              label.mt-4.mr-3.mb-3 View Result
              .input-group
                button.btn.btn-primary.btn-block(type='submit') Search
        h3.mb-3.mt-5 Result
        if projects.length > 0
          p
          .small Current #{projects.length} project(s)
          p
          table#pjtTable.table
            thead
              tr
                th(scope='col') Project ID
                th(scope='col') Project Name
                th(scope='col') Start Date
                th(scope='col') end Date
                th(scope='col') PM Number
            tbody
              each project in projects 
                  tr
                    td
                      a(href=`/projects/${project.project_id}`)= project.project_id
                    td= project.project_name
                    td= moment(project.start_date).format('YYYY-MM-DD')
                    td= (project.end_date)? moment(project.end_date).format('YYYY-MM-DD'):'미정'
                    td= project.name
          
        else 
          p 프로젝트가 존재하지 않습니다.


      script.
        $(document).ready(function() {
            $('#pjtTable').dataTable();
        });
          