extends ../layout

block content
  .container

    h1
      center.mt-5 Evaluation Form
    h4
      center.mt-4 Business Performance & Communication
    h4
      center.mt-4
        | Prompt Solution Co., Ltd.
        br
      hr.mt-5.mb-4
      p
        | The purpose of the questionnaire is to identify improvements in officers and employees who work in the Prompt Solution Co., Ltd.
      p
        | Please answer them carefully for the purposes stated above.
      p.mt-4
      hr.mt-5.mb-4
      form(method='post', action=`/evaluations/pm/${project.project_id}/${employee.employee_number}`)
        h3 Project
        p.mt-4
          .row.ml-3.form-labels
            h6.col-md-2 Project ID:
            .col-md-5
              input#survey-form-project-id.form-control(type='text', value=project.project_id, name='project_id',readonly='')
        p.mt-2
          .row.ml-3.form-labels
            h6.col-md-2 Project Name:
            .col-md-5
              input#survey-form-project-name.form-control(type='text', value=project.project_name,readonly='')
        hr.mt-5.mb-4
        h3 Profile
        p.mt-4
          .row.ml-3.form-labels
            h6.col-md-2 Employee Number:
            .col-md-5
              input#survey-form-employee-id.form-control(type='text', value=employee.employee_number, name='employee_number',readonly='')
        p.mt-2
          .row.ml-3.form-labels
            h6.col-md-2 Employee Name:
            .col-md-5
              input#survey-form-employee-name.form-control(type='text', value=employee.name, readonly='')
        p.mt-2
          .row.ml-3.form-labels
            h6.col-md-2 Role:
            .col-md-5
              input#survey-form-project-role.form-control(type='text', value=employee.role, readonly='')
        hr.mt-5.mb-4
        h3.mt-5 Business Performance
        p
          table.table.table-hover.business-performance-table
            thead
              tr(align='CENTER')
                th(width='50%')
                th(width='8%')
                  b
                    | Strongly
                    br
                    | disagree
                th(width='8%')
                  b Disagree
                th(width='8%')
                  b
                    | Neither
                    br
                    | agree
                    br
                    | nor
                    br
                    | disagree
                th(width='8%')
                  b Agree
                th(width='8%')
                  b
                    | Strongly
                    br
                    | agree
            tbody
              tr(align='CENTER')
                td(align='LEFT')
                  | 1. Utilization of development tools
                td
                  input(type='RADIO', name='utilization', value='1')
                td
                  input(type='RADIO', name='utilization', value='2')
                td
                  input(type='RADIO', name='utilization', value='3')
                td
                  input(type='RADIO', name='utilization', value='4')
                td
                  input(type='RADIO', name='utilization', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 2. Working with the development pattern appropriate for the project
                td
                  input(type='RADIO', name='pattern', value='1')
                td
                  input(type='RADIO', name='pattern', value='2')
                td
                  input(type='RADIO', name='pattern', value='3')
                td
                  input(type='RADIO', name='pattern', value='4')
                td
                  input(type='RADIO', name='pattern', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 3. Intra-platform understanding
                td
                  input(type='RADIO', name='platform', value='1')
                td
                  input(type='RADIO', name='platform', value='2')
                td
                  input(type='RADIO', name='platform', value='3')
                td
                  input(type='RADIO', name='platform', value='4')
                td
                  input(type='RADIO', name='platform', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 4. Program decomposition ability
                td
                  input(type='RADIO', name='decomposition', value='1')
                td
                  input(type='RADIO', name='decomposition', value='2')
                td
                  input(type='RADIO', name='decomposition', value='3')
                td
                  input(type='RADIO', name='decomposition', value='4')
                td
                  input(type='RADIO', name='decomposition', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 5. System decomposition ability
                td
                  input(type='RADIO', name='system', value='1')
                td
                  input(type='RADIO', name='system', value='2')
                td
                  input(type='RADIO', name='system', value='3')
                td
                  input(type='RADIO', name='system', value='4')
                td
                  input(type='RADIO', name='system', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 6. Component understanding ability
                td
                  input(type='RADIO', name='component', value='1')
                td
                  input(type='RADIO', name='component', value='2')
                td
                  input(type='RADIO', name='component', value='3')
                td
                  input(type='RADIO', name='component', value='4')
                td
                  input(type='RADIO', name='component', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 7. Code readability
                td
                  input(type='RADIO', name='readability', value='1')
                td
                  input(type='RADIO', name='readability', value='2')
                td
                  input(type='RADIO', name='readability', value='3')
                td
                  input(type='RADIO', name='readability', value='4')
                td
                  input(type='RADIO', name='readability', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 8. Error Handling
                td
                  input(type='RADIO', name='handling', value='1')
                td
                  input(type='RADIO', name='handling', value='2')
                td
                  input(type='RADIO', name='handling', value='3')
                td
                  input(type='RADIO', name='handling', value='4')
                td
                  input(type='RADIO', name='handling', value='5')
          br
          br
        hr.mt-5.mb-4
        h3.mt-5 Communication
        p
          table.table.table-hover.business-performance-table
            thead
              tr(align='CENTER')
                th(width='50%')
                th(width='8%')
                  b
                    | Strongly
                    br
                    | disagree
                th(width='8%')
                  b Disagree
                th(width='8%')
                  b
                    | Neither
                    br
                    | agree
                    br
                    | nor
                    br
                    | disagree
                th(width='8%')
                  b Agree
                th(width='8%')
                  b
                    | Strongly
                    br
                    | agree
            tbody
              tr(align='CENTER')
                td(align='LEFT')
                  | 1. Ability to easily explain to customers or team members
                td
                  input(type='RADIO', name='easily', value='1')
                td
                  input(type='RADIO', name='easily', value='2')
                td
                  input(type='RADIO', name='easily', value='3')
                td
                  input(type='RADIO', name='easily', value='4')
                td
                  input(type='RADIO', name='easily', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 2. Ability to describe implementation and interface separately
                td
                  input(type='RADIO', name='describe', value='1')
                td
                  input(type='RADIO', name='describe', value='2')
                td
                  input(type='RADIO', name='describe', value='3')
                td
                  input(type='RADIO', name='describe', value='4')
                td
                  input(type='RADIO', name='describe', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 3. Ability to explain spheres and abstracts separately
                td
                  input(type='RADIO', name='explain', value='1')
                td
                  input(type='RADIO', name='explain', value='2')
                td
                  input(type='RADIO', name='explain', value='3')
                td
                  input(type='RADIO', name='explain', value='4')
                td
                  input(type='RADIO', name='explain', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 4. Ability to describe details and concepts separately
                td
                  input(type='RADIO', name='details', value='1')
                td
                  input(type='RADIO', name='details', value='2')
                td
                  input(type='RADIO', name='details', value='3')
                td
                  input(type='RADIO', name='details', value='4')
                td
                  input(type='RADIO', name='details', value='5')
              tr(align='CENTER')
                td(align='LEFT')
                  | 5. Listen to opinions without self-defense
                td
                  input(type='RADIO', name='opinions', value='1')
                td
                  input(type='RADIO', name='opinions', value='2')
                td
                  input(type='RADIO', name='opinions', value='3')
                td
                  input(type='RADIO', name='opinions', value='4')
                td
                  input(type='RADIO', name='opinions', value='5')
        hr
        p
        br
        br
        .row
          .col-sm-7.form-labels
            h6
              | Thank you for taking the Evaluation.  To submit the results, press the
              b Send
              |  button below.
              h6
          .col-sm-5
            button.btn.btn-primary(type='submit') Send 
        p
        p
        hr
